* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-color: #090A0E;
    color: #ffffff;
}
.App{
    width: 100%;
    position: relative;
}

.conta{
    
    max-width: 1300px;
    margin: 0 auto;
  /* background-color: #0f1014; */
  background-color: red;
  
  padding: 80px 20px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

                    /* hero section */
.hero{
    width: 95%;
    height: 600px;
    margin: 0 auto;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.herocon{

}



                    /* movie card section */

.moviecard{
 background: blue;
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
}
.moviepost{
    height: 100%;
    width: 100%;
}
.noimg{
    height: 100%;
    width: 100%;
    background: #ffffff7c;
    color: #090A0E;
    text-align: center;
}
.movietitle{
    background: rgb(119, 119, 88);

}





                    /* responsive section */

@media(max-width:400px){
    .conta{
 
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 30px;
      }

}
