* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.App{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.ytb{
    position: absolute;
    top: 20px;
    left: 25vw;
    z-index: 1000;
}

.cal{
    background: rgb(0, 0, 0);
}
.cal h2{
    border-left: 5px solid rgb(37, 37, 37);
    padding-left: 10px;
    margin-left: 35px;
    margin-bottom: 10px;
}

                    /* hero section + header*/
 header{
    position: absolute;
    top: 35px;
    left: 70px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    padding: 0px 4px 3px 4px;
 }
 header input{
    background: transparent;
    border-color: rgba(0, 0, 0, 0.467);
    border-radius: 10px;
 }
 header button{
    margin-left: 5px;
    border: none;
    background: transparent;
 }

.hero{
    width: 100%;
    height:500px;
    background-size:cover;
    position: absolute;
    z-index: -100;
    box-shadow: rgba(0, 0, 0, 0.656) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.herocon{
    width: 100%;
    height:440px;
    padding: 120px 10px 10px 80px;
    box-shadow: rgb(0, 0, 0) 0px -70px 50px 0px inset;
    background: rgba(15, 14, 14, 0.685);
}
.ti{
    margin-bottom: 10px;
}
.ov{
    max-width: 600px;
    font-size: 15px;
    margin-bottom: 7px;
    color: #ffffffc3;
}
.tr,.wn{
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px; 
    margin-right: 15px;
    color: #ffffff;
    font-weight: 700;
}
.wn{
    background: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    box-shadow: red 0px 0px 10px 1px ;
}
.jj{
    display: flex;
    margin-bottom: 20px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}
.jj p{
    margin-right: 25px;
}
.moviecard3{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 220px;
    position: absolute;
    right: 230px;
    top: 50px;
   }
   .moviepost3{
    border-radius: 10px;
}
   .noimg3{
       border-radius: 10px;
       background: #2b2b2bb6;
   }

                    /* movie card section + conta*/
.conta{
    width: 88%;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.656);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.moviecard{
 display: flex;
 flex-direction: column;
 justify-content:center;
}
.moviepost,.noimg{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    background: #2b2b2bb6;
}
.movietitle{
   padding-left: 20px;
   font-size:10.5px;
}

                    /* responsive section */

@media(max-width:2700px){
    .App{
        max-width: 1900px;
    }
    .conta{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        }
}
@media(max-width:1440px){
    .conta{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        }
        .ov{
            max-width: 450px;
            font-size: 12px;
        }
        .moviecard3{
            width: 200px;
            right: 140px;
            top: 50px;
           }
        .moviepost,.noimg{
            height: 100%;
            width: 100%;
            border-radius: 10px;
            margin: 10px;
            background: #2b2b2bb6;
        }
        .movietitle{
           padding-left: 20px;
           font-size:9px;
        }
}

@media(max-width:916px){
    .conta{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        }
        .ti{
            font-size:27px;
        }
        .ov{
            max-width: 400px;
            font-size: 10px;
        }
        .moviecard3{
            width: 170px;
            right: 70px;
            top: 70px;
           }
        .moviepost,.noimg{
            height: 100%;
            width: 100%;
            border-radius: 10px;
            margin: 10px;
            background: #2b2b2bb6;
        }
        .movietitle{
           padding-left: 20px;
           font-size:9px;
        }
}
@media(max-width:768px){
    .ytb{
        position: absolute;
        top: 75px;
        left: 0vw;
    }
    .hero{
        width: 100%;
        height:500px;
        background-size:cover;
        background-position: 50%;
    }
    .cal h2{
        margin-left: 11px;
    }
   .jj, .jj p{
        font-size: 11px;
        margin-left: 0px;
    }
    .tr,.wn{
        font-size: 10px; 
        margin-right: 10px;
        font-weight: 500;
    }
    header{ 
        top: 30px;
        left: 20px;
     }
     header button{
       font-size: 10px;
     }
    .herocon{
        padding: 120px 0px 0px 20px;
        height: 340px;
    }
    .conta{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        width: 90%;
        margin: 5px;
       }
        .ti{
            font-size:17px;
        }
        .ov{
            max-width: 200px;
            font-size: 6px;
        }
        .moviecard3{
            width: 125px;
            right: 15px;
            top: 110px;
           }
        .moviepost,.noimg{
            height: 100%;
            width: 100%;
            border-radius: 5px;
            background: #2b2b2bb6;
        }
        .movietitle{
           font-size:4px;
        }
}






body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.202); 
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(222, 222, 222, 0.537);   
    border-radius: 20px;   
  }